.vis0{
}

.vis1{
}
.vis2{
	background-color:#c6ae73;
	/*color:white;*/

}
.vis3{
	background-color:#299eff;
	color:white;
}

.vis4{
	background-color:#d60021;
	color:white;
	
}

.vis5{
	background-color:#d60021;
	color:white;
	font-weight:800;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

