*.jar
*.log
/cache
*.lock
/laravel/composer
*.phar
/jar.txt
.DS_Store

vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
public_html/chart

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/laravel/reports
.tmp
error_log
package-lock.json
.Trash-1000
*.stackdump
/laravel/build/
/laravel/build
laravel/build/
/laravel/database/migrations/
