[submodule "public_html/noconsole"]
	path = public_html/noconsole
	url = https://github.com/laraxot/noconsole.git

[submodule "bashscripts"]
	path = bashscripts
	url = https://github.com/laraxot/bashscripts.git

[submodule "laravel/Modules/Blog"]
	path = laravel/Modules/Blog
	url = https://github.com/laraxot/module_blog.git
[submodule "laravel/Modules/LU"]
	path = laravel/Modules/LU
	url = https://github.com/laraxot/module_lu.git
[submodule "laravel/Modules/Theme"]
	path = laravel/Modules/Theme
	url = https://github.com/laraxot/module_theme.git
[submodule "laravel/Modules/Xot"]
	path = laravel/Modules/Xot
	url = https://github.com/laraxot/module_xot.git
[submodule "laravel/Modules/Geo"]
	path = laravel/Modules/Geo
	url = https://github.com/laraxot/module_geo.git
[submodule "laravel/Modules/FormX"]
	path = laravel/Modules/FormX
	url = https://github.com/laraxot/module_formx.git

[submodule "laravel/Themes/SbAdmin2Bs4"]
	path = laravel/Themes/SbAdmin2Bs4
	url = https://github.com/laraxot/theme_sbadmin2bs4.git
[submodule "laravel/Themes/One"]
	path = laravel/Themes/One
	url = https://github.com/laraxot/theme_one.git
[submodule "laravel/Themes/Zero"]
	path = laravel/Themes/Zero
	url = https://github.com/laraxot/theme_zero.git
[submodule "laravel/Themes/Two"]
	path = laravel/Themes/Two
	url = https://github.com/laraxot/theme_two.git
[submodule "laravel/Themes/Starter"]
	path = laravel/Themes/Starter
	url = https://github.com/laraxot/theme_starter.git
[submodule "laravel/Modules/Tenant"]
	path = laravel/Modules/Tenant
	url = https://github.com/laraxot/module_tenant
