includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    level: max

    paths:
        - ./Modules

    excludePaths:
        - ./build/*
        - ./*/build/*
        - ./vendor/*
        - ./*/vendor/*
        - ./docs/*
        - ./*/docs/*
        - ./Tests/*
        - ./*/Tests/*
        - ./*/lang/*
        - ./_ide_helper.php
        - ./*/_ide_helper.php
        - ./Modules/Ticket/*
        - ./Modules/Theme/*
        - ./Modules/Quaeris/*
        - ./Modules/Chart/*
        - ./Modules/Limesurvey/*
        - ./Modules/Notify/*


    bootstrapFiles:
        - ./Modules/Xot/Services/vendor/autoload.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php
        - ./vendor/amenadiel/jpgraph/src/config.inc.php

    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
    checkOctaneCompatibility: false
    checkModelProperties: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false


#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
